{% extends "::base.html.twig" %}

{% block box_title %}Listar / Pesquisar Entidades {% endblock %}

{% block box_content %}

	<form action="" method="post" id="j_cadastroForm">
		<ul>
            <li class="span3">
    		  <label>Tipo de entidade:</label>
    		  <select class="span3" name="idLegalBodyType" id="idLegalBodyType">
		        <option value="">Todos</option>
	            {% for val,item in formData.legalBodyType %}
                  <option value="{{ val }}">{{ item }}</option>
                {% endfor %}
    	      </select>
    		</li>
    		
			<li class="span4">
				<label for="name" >Nome:</label>
				<input id="name" type="text" name="name" class="span5">
			</li>
			
			<li class="span3" style="text-align: right">
				<label>&nbsp;</label><br>
				<a href="#" id="searchBt" class="btn btn-primary">Pesquisar</a>
				<a href="#" id="clearBt" class="btn">Limpar</a>
			</li>
		</ul>
		    
		<div class="jqGrid_container span11 marginBottom">
			<table id="grid" class="grid"></table>
			<div id="pager" class="pager"></div>
		</div>
		
	</form>

{% endblock %}

{% block box_javascripts %}

	<script>
	
	    $(document).ready(function() {

	    	$("input").val('');
	
	        $("#grid").jqGrid({
	
	            url:'{{ path('entity_search') }}',
	            datatype: "json",
	            colNames:[
	                        'Nome',
	                        'Outros nomes',
	                        'Ação'
	            ],
	            colModel:[
      	            {name:'name',index:'g.name', width:100},
      	            {name:'pseudonym',index:'g.pseudonym', width:100},
                    {name:'Acao',index:'Acao', width:20, align:"center"} 
	            ],
	             scrollOffset: 0,
	             forceFit:true,
	             hidegrid: false,
	             height: '254',
	             autowidth: true,
	             shrinkToFit: true,
	             pager: '#pager',
	             viewrecords: true,
	             sortname: 'g.name',
	             sortorder: "asc",
	             rowNum: 11,
	             loadComplete: function() {
	                 if ($(this).getGridParam("records")==0)
	                 {
	                   $( "#dialog-msg" ).dialog({
	                    resizable: false,
	                    height:140,
	                    modal: true,
	                    buttons: {
	                          "Fechar": function() {
	                          $( this ).dialog( "close" );
	                        }
	                      }}).html('Nenhum registro encontrado com estes parâmetros.');
	                 }
	               }
	         });

	        $("input").keydown( function (e) 
    		{
    		     var key = e.charCode || e.keyCode || 0;
    		     if (key == 13) {
    		    	 $("#searchBt").trigger('click');
    		     }
    		 });
	
	        $("#searchBt").click( function ()
	        {
	
	            $('#grid').jqGrid('clearGridData');
	
	            $('#grid').jqGrid('setGridParam', { postData : {
	            	'idLegalBodyType': $("#idLegalBodyType").val(),
	                'name':            $("#name").val()
	              }
	            }).trigger("reloadGrid");
	
	       });
	
	        $("#clearBt").click( function ()
	        {
	            $("input").val('');
	            $("select").val('');
	
	            $('#grid').jqGrid('clearGridData');
	
	            $('#grid').jqGrid('setGridParam', { postData : {
	                                                        name:             $("#name").val()
	                                              }
	            }).trigger("reloadGrid");
	
	       });
	    });
	
	    function confirmarRemocao(id) {
	    	$("#cancelConfirmButton").removeClass('btn-success');
	    	$("#cancelConfirmButton").html('Cancelar');
	    	$("#confirmDialogBody").html("Tem certeza que deseja remover este registro?");
	    	$("#confirmDialog").modal('show');
	    	$("#confirmButton").show();
	    	
	    	$("#confirmButton").click(function() {
	                $.ajax({
	                    type: "POST",
	                    url: "{{ path('entity_delete') }}",
	                    data: { id: id},
	                    dataType: 'json'
	                })
	                .success(function() {
	        	    	$("#cancelConfirmButton").addClass('btn-success');
	        	    	$("#cancelConfirmButton").html('Fechar');
	                    $("#searchBt").trigger('click');
	                    $("#confirmButton").hide();
	                    $("#confirmDialogBody").html("Registro removido com sucesso");
	                    window.setTimeout(function(){$("#confirmDialog").modal('hide')}, 1000);
	                })
	                .error(function() {
	                    $("#confirmButton").hide();
	                    $("#confirmDialogBody").html('Ocorreram erros ao tentar remover o registro selecionado. Entre em contato com o administrador do sistema.');
	                });
	        });
	      }
	
	</script>

{% endblock %}


