{% extends "::base.html.twig" %}

{% block box_title %}Base de desenvolvimento de sistemas da SanSIS{% endblock %}

{% block box_content %}

	<p class="lead">Esta é a base para desenvolvimento de sistemas da SanSIS,
	do qual todos os bundles deverão estender</p>
	
	<p>O principal objetivo desta base é dar ao desenvolvedor subsídios para
	preocupar-se em desenvolver soluções ao invés de dispersar-se em questões
	básicas como componentes arquiteturais, e elementos visuais.
	
	<p>Para uma melhor compreensão sobre o uso desta base, conheça também o
	<a href="https://github.com/phackwer/SandboxBundle">SandboxBundle</a>.
	
	<p>Para uma melhor compreensão sobre os componentes já disponibilizados,
	conheça também o
	<a href="https://github.com/phackwer/DevelBundle">DevelBundle</a>.

{% endblock %}