{% extends "IbramCoreBaseBundle::base.html.twig" %}

{% block body %}

<strong class="title">Base de desenvolvimento de sistemas do Ibram</strong>

<div class="box_borda">
	<div class="padding">
        <div class="span11">
			<p class="lead">Esta é a base para desenvolvimento de sistemas do Ibram, do qual todos os bundles deverão estender</p>
			<p>A base de desenvolvimento é composta de 2 bundles principais:</p>
			
			<ul>
				<li>Ibram\Core\BaseBundle - Provê elementos básicos da arquitetura do
					Ibram - CSS, Javascript, componentes de view, controller e model</li>
				<li>Ibram\Core\DevelBundle - Provê diversas ferramentas para o
					desenvolvimento de aplicações utilizando o BaseBundle do Ibram</li>
			</ul>
			
			<p>
				Para iniciar o desenvolvimento de sua aplicação, acesse o <a href="{{ path('ibram_core_devel_homepage') }}">DevelBundle</a>.
				Em caso de dúvidas, bugs identificados ou sugestões de melhorias, entre em contato com a Arquitetura de Sistemas do Ibram.
				<br /><br />&nbsp;
			</p>
			
    	</div>
	</div>
</div>
{% endblock %}