@charset "UTF-8";

/* -----------|
/* - CONTENT
/* ------ */

.f-nav  { 
	background-color: #0F4098;
    -webkit-box-shadow: 1px 5px 10px 1px #a4a4a4;
    box-shadow: 1px 5px 10px 1px #a4a4a4;
    display: block;
    height: auto;
    margin: auto;
    min-height: 31px;
    width: 100%;
    z-index: 999; 
    position: fixed; 
    top: 0;
}

.f-nav-collapse{
	height: 100%;
	overflow: auto !important;
}

.f-dropdown-menu{
    top:0;
    left:100%;
    margin-top:0px;
    margin-left:20px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.validateMsgNovo{
	position: absolute;
	line-height: 12px;
	/*top: 45px;*/
	bottom: -4px;
}

.validateMsg{
    color: red;
    position: absolute;
    line-height: 12px;
    /*top: 45px;*/
    bottom: -7px;
}

p{
    color: #333333;
    display: block;
    font-size: 1.2em !important;
    margin-bottom: 15px;
}
ul.position li
, .position{
    position: relative;
}

span.ng-binding{
    font-size: 1em !important;
}
.cursor{
    cursor: pointer;
}

.erro{
    background-color: #ffffff !important;
}
.erro strong{
    background: url("../images/lgo/bg-404.gif") no-repeat;
    float: left;
    width: 324px;
    position: relative;
    height: 180px;
    text-indent: -999em;
    overflow: hidden;
    left: 50%;
    margin-left: -195px;
}
.erro p{
    float: left;
    font-size: 20px !important;
    clear: both;
    margin-top: 35px;
    text-align: center;
    width: 100%;
}
.erro .caixaErro{
    float: left;
    width: 100%;
}


/* FORMATO DO TITULO */

strong.title{
    border-bottom: 2px solid #999;
    color: #444;
    display: block;
    font-size: 2em;
    margin: 10px 0;
    padding-bottom: 5px;
}

/* DIV BOX */

.box {
    float: left;
    padding: 10px;
}
.box h4{
    color: #064060;
    display: block;
    font-size: 1.6em;
    margin-bottom: 20px;
}
.section .aba{
    display: block;
    padding: 0;
    margin: 0;
}
.section .aba .nav{
    border: medium none;
    clear: both;
    list-style: none outside none;
    margin: 0 0 0 8px;
    overflow: hidden;
}
.section .aba .nav li{
    float: left;
    /margin-right: 10px;
}
.section .aba .nav a{
    background-color: #AAAAAA;
    border-radius: 4px 4px 0 0;
    border: medium none;
    color: #ffffff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.aba .nav li.active a
, .aba .nav li a:hover{
    background-color: #F0F0F0 !important;
    border: medium none !important;
    color: #555555 !important;
}
.box_borda{
    background: none repeat scroll 0 0 #F0F0F0;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow:  1px 5px 10px 1px #a4a4a4;
    box-shadow: 1px 5px 10px 1px #A4A4A4;
    float: left;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
    min-width: 310px;
    overflow:hidden;
}
.section .table .tab-content div.tab-pane{
    padding: 15px;
}

/* TABELA */

.atendimentos{
    margin-bottom: 20px;
}
.table{
    /*background-color: #D1D1D1;*/
    margin-bottom: 0;
}
.table thead{
    background-color: #D1D1D1;
    margin-bottom: 0;
}
.table-bordered {
    border: 1px solid #AAAAAA;
}
.table th
, .table td{
    text-align: center;
    font-size: 1.2em !important;
}
.table-bordered th
, .table-bordered td{
    border-left: 1px solid #AAAAAA;
    color: #000000;
}
.table th
, .table td{
    border-top: 1px solid #AAAAAA;
}
.table td a.margin{
    margin-right: 10px;
}

.box_borda .padding{
    padding: 0 15px;
}
.box_borda .paddingAll{
    padding: 20px 5px;
}

.maps{
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #3a87ad;
    float: left;
    width: 93%;
    margin-top: 5px;
    padding: 5px;
}

.filder{
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #999;
    float: left;
    width: 97%;
    margin-top: 5px;
    padding: 10px 5px 0px 5px;
}
.filder ul{
    margin-bottom: 0px;
}
h5{
    display: block;
    color: #0095DA;
    font-size: 1.4em;
    margin-bottom: 20px;
    clear: both;
    top: -10px;
}

h3{
    display: block;
    margin-bottom: 20px;
/*     clear: both; */
}
form{
    float: left;
    width: 100%;
}
form ul{
    clear: both;
    margin: 0 0 20px 0;
}
/*form ul li label{
    font-size: 1.4em;   
}*/
form label span{
    color: red;
    font-size: 1.2em;
}
form div.tabela{
    float: left;
    width: 100%;
    margin-top: 10px;
}
form li{
    margin-bottom: 10px;
    /*position: relative;*/
}
form label{
    /*font-weight: bold;*/
    margin: 0;
    font-size: 1.3em;
    display: inline;
}
form span{
    font-size: 1.0em;
    color: #000000;
}
form .registro p{
    font-size: 1.4em;
}
form .registro h3.numeroRMS{
    line-height: 17px;
    margin-bottom: 15px;
}
form .registro button{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
form .registro input{
    border: 1px solid #3a87ad;
}
form .registro .numero{
    float: left;
    margin-top: 20px;
    width: 100%;
}
form .registro .numeroSipar{
    float: left;
    width: 100%;
}

/* FORMATO DO TITULO */

.tituloBord {
    border-bottom: 3px solid #0095DA;
    color: #0095DA;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
    width: 100%;
}
h3.pontilhado{
    color: #064060;
    float: left;
    font-size: 2em;
    margin: 10px 0;
    padding-bottom: 5px;
    width: 100%;
}
span.pontilhado {
    background: url('../images/ico/pontilhado.png') repeat;
    float: left;
    height: 10px;
    margin-top: 5px;
    width: 100%;
}

/* DIV BOX */

.box_borda {
    background: none repeat scroll 0 0 #E4E4E4 !important;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow:  0px 8px 10px 1px #A4A4A4;
    box-shadow: 0px 8px 10px 1px #A4A4A4;
    float: left;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
}
.box_borda .padding{
    padding: 0 15px;
}

/* Ficha Profissional */

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #CCCCCC;
    font-size: 1.4em;
}
.tabs-left>.nav-tabs .active>a
, .tabs-left>.nav-tabs .active>a:hover {
    border-color: #CCCCCC transparent #CCCCCC #CCCCCC;
    font-size: 1em;
}
.fichaProfissional .dadoPessoal{
    float: left;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}
.fichaProfissional .dadoPessoal img{
    border: 3px solid #3461A5;
    float: left;
    height: 115px;
    margin-left: 0;
    margin-right: 20px;
    width: 115px;
}
.fichaProfissional .dadoPessoal ul{
    float: left;
    /width: 85%;
    margin: 0;
}
.fichaProfissional .dadoPessoal ul li{
    border-bottom: 1px dashed #CCCCCC;
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.fichaProfissional .tabbable{
    float: left;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}
.fichaProfissional ul{
    margin: 0;
}
.fichaProfissional label{
    font-weight: bold;
    float: left;
    font-size: 1.2em;
    margin-right: 20px;
    width: auto;
}
.fichaProfissional .caixa{
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: left;
    min-height: 220px;
    padding: 10px;
    width: 223px;
    background-color: #fff;
}
.fichaProfissional .branco{
    background-color: #fff;
}
.fichaProfissional .caixa h6{
    display: block;
    font-size: 1.6em;
    margin-bottom: 10px;
}
.fichaProfissional .caixa ul{
    float: left;
    margin: 0;
}
.fichaProfissional .caixa ul li{
    border-bottom: 1px dashed #CCCCCC;
    color: #000;
    float: left;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 100%;
}
.fichaProfissional .caixa ul li label{
    font-weight: bold;
    margin-right: 20px;
    width: auto;
}
.fichaProfissional .central{
    margin: 0 20px;
}
.fichaProfissional .dados{
    float: left;
}
.fichaProfissional .dados li{
    border-bottom: 1px dashed #CCCCCC;
    color: #000;
    float: left;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 365px;
}

table.table{
    float: left;
}
.atendimentos table select{
    margin: 0;
}
.atendimentos table td
, .atendimentos table th{
    text-align: center;
    color: #000000;
    font-size: 1.2em;
}
table .paginacao{
    float: right;
}
table .paginacao a{
    color: #000000;
    float: left;
    font-size: 1.2em;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 5px;
}
table .paginacao a:hover{
    color: #777676;
}
table .paginacao input{
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    text-align: center;
    width: 30px;
}
.botao a {
    margin-bottom: 10px;
    clear: both;
    float: left;
}
.margin-right{
    margin-right: 10px;
}
.noMargin{
    margin: 0 !important;
}
.no_margin{
    margin-bottom: 0 !important;
}
.margin-bottom17{
    margin-bottom: 17px;
}
.clear-both{
    clear: both !important;
}
.textarea{
    width: 99%;
}

/* CADASTRAR POLO */

.obrigatorio{
    color: red;
    margin-bottom: 10px;
    font-size: 1.4em;
}
.m-selectable-from select{
    min-height: 140px;
}
.m-selectable-controls{
    float: left;
    margin: 85px 0 0 30px;
}
.multis-right{
    float: left;
    width: 100%;
}
.m-selectable-to select{
    min-height: 140px;
}
.section .aba .nav{
    border: medium none;
    clear: both;
    list-style: none outside none;
    margin: 0 0 0 8px;
    overflow: hidden;
}
.section .aba .nav li{
    float: left;
}
.section .aba .nav a{
    background-color: #AAAAAA;
    border-radius: 4px 4px 0 0;
    border: medium none;
    color: #ffffff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.aba .nav li.active a
, .aba .nav li a:hover{
    background-color: #F0F0F0 !important;
    border: medium none !important;
    color: #555555 !important;
}

/* INDEX */

.menu_none .navbar{
    display: none;
}

.index h3{
    background-color: #dfdfdf;
    color: #0F4098;
    font: left;
    font-size: 1.4em;
    text-align: center;
    padding: 5px 0;
}
/*.index .borda{
    float: left;
    border: 1px solid #3a87ad;
    min-height: 232px;
    margin-bottom: 20px;
}
.index ul{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.index ul li{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.index ul li p{
    float: left;
    font-size: 1.4em;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}*/
.index .borda{
    float: left;
    border: 1px solid #3a87ad;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
.index ul{
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.index ul li{
    float: left;
    width: 100%;
}
.index ul li a{
    float: left;
    font-weight: bold;
    color: #000000;
    width: 100%;
}
.index ul li img{
    box-shadow: 0px 0px 14px 6px #cecccc;
    float: left;
    position: relative;
    left: 50%;
    margin-left: -106px;
}
.index ul li p{
    float: left;
    font-size: 1.4em;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.filder h5.legenda{
    display: block;
    color: #444;
    font-size: 1.4em;
    margin-bottom: 10px;
    clear: both;
    position: absolute;
    top: -10px;
    background-color: #E4E4E4 ;
    padding: 0 10px;
    width: auto;
}

.aling-left th
, .aling-left td{
    text-align: left !important;
    font-size: 1.2em !important;
}

.right{
    float: right !important;
    margin: 0 !important;
}

/*  AJUSTAR O HEADER */

@media (max-width: 480px) {
    #topo_geral {
        padding-bottom: 15px;
    }
    /*.f-nav  {
        position: relative;
    }*/ 
}

@media (min-width: 768px) and (max-width: 979px) {
    .banner_programa {
        visibility: hidden !important;
    }
    /*.f-nav  {
        position: relative;
    } */
}
@media (max-width: 767px) {
    /*.f-nav  {
        position: relative;
    } */
    #topo_geral {
        padding-bottom: 15px;
    }
    .banner_programa {
        visibility: hidden !important;
    }
    .caixa_acessibilidade{
        clear: both;
    }
    .box_botoes_acessibilidade
    , #box_menu_top
    , .usuario
    , #box_menu_top ul
    , .usuario p{
        float: left !important;
    }
    .box_botoes_acessibilidade {
        margin-left: 10px
    }
    .logo {
        margin-right: 20px;
    }
    .titulo_sistema span.img_separador {
        display: none;
    }
    .titulo_sistema {
        padding-top: 15px !important;
        /height: 0 !important;
    }
    .logo {
        height: 45px !important;
        line-height: 45px !important;
    }
    .navbar{
        /*width: 60px;*/
    }
    
    .img_disqueSaude{
        position: relative;
        left: 50%;
        margin-left: -30px;
        margin-bottom: 20px;
    }
}


input, select {
	border: 1px solid #CCC;
	background: #FFFFFF;
}

textarea{
	min-height: 100px;
}

.ui-pg-input {
    font-size: 11px !important;
    width:110px;
}

.ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
    }
    
.ui-jqgrid {
	margin-bottom: 20px;
}

.paddingAll .alert{
	margin-right:20px;
}