@charset "utf-8";

/* HEADER */

.acessibilidade body{
    background: #000000;
    background-color: #000000;
}

.acessibilidade .section {
    background-color: #000000;
}

.ui-dialog, .ui-dialog-content, .ui-datepicker-calendar,  .ui-datepicker-calendar a,  .ui-datepicker-calendar a:hover{
	color:#000000 !important;
}

.acessibilidade .filder h5.legenda{
    display: block !important;
    color: #FFFF00 !important;
    font-size: 1.4em !important;
    margin-bottom: 10px !important;
    clear: both !important;
    position: absolute !important;
    top: -10px !important;
    background-color: #222222  !important;
    padding: 0 10px !important;
    width: auto !important;
}

.acessibilidade .aba .nav li.active a {
    border: 1px solid #FFFF00 !important;
    background-color:#FFFF00 !important;
    color:#000000 !important;
}

.acessibilidade .aba .nav li a {
    border: 1px solid #FFFF00 !important;
    background-color:#000000 !important;
    color:#FFFF00 !important;
}

.acessibilidade .aba .nav li a:hover {
    border: 1px solid #FFFF00 !important;
    background-color:#AAAA00 !important;
    color:#000000 !important;
}

.acessibilidade{
    background-color:#000000 !important;
    color:#000000 !important;
}

.acessibilidade .btn {
    color: #000000 !important;
}

.acessibilidade .btn-primary {
    background: #FFFF00 !important;
    font-weight: bold;
}
.acessibilidade .box_borda{
    background: none repeat scroll 0 0 #222222 !important;
    border-color: #FFFF00 !important;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow:  none !important;
    box-shadow: none !important;
    float: left;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
}

.acessibilidade .box_borda li{
    color: #FFFF00 !important;
}

.acessibilidade .usuario p
, .acessibilidade .titulo_sistema h1
, .acessibilidade .titulo_sistema h3
, .acessibilidade #BoxMenuPrincipal p
, .acessibilidade #BoxMenuPrincipal a
, .acessibilidade #wrapper-clock-count
, .acessibilidade #wrapper-clock-count span
, .acessibilidade #box_menu_top a{
    color:#ffff00 !important;
}
.acessibilidade strong{
    border-bottom: 2px solid #ffff00 !important;
    color:#ffff00 !important;
}

.acessibilidade p
, .acessibilidade label
, .acessibilidade nav a
, .acessibilidade #myModalLabel
, .acessibilidade .fichaProfissional ul li
, .acessibilidade form .dadosCadastrais span{
    color:#ffff00 !important;
}
.acessibilidade #barra-topo {
    background: #000000;
    border-bottom: 1px solid #FFFF00;
}
.acessibilidade #barra-topo .ai {
    background: url("../images/lgo/ai.png") no-repeat scroll 0 4px #000000;
}
.acessibilidade #barra-topo .brasilgov {
    background: url("../images/lgo/brasil.png") no-repeat scroll 0 4px #000000;
}
.acessibilidade #topo_geral {
    background: #000000 0%;
}
.acessibilidade .box_botoes_acessibilidade {
    background-color: #000000;
}
.acessibilidade .box_botoes_acessibilidade {
    background-color: #000000;
    box-shadow: 1px 5px 10px 1px #3E3A3A;
}
.acessibilidade .logo {
    color: #ffff00;
    text-shadow: 0 3px 3px #3A3737 !important;
}
.acessibilidade .titulo_sistema {
    text-shadow: 0 3px 3px #3A3737 !important;
}
.acessibilidade #BoxMenuPrincipal {
    background: #000000;
    border-top: 1px solid #ffff00;
    box-shadow: inherit;
    border-bottom: 1px solid #ffff00;
}
.acessibilidade .nav-collapse .nav > li > a:hover
, .acessibilidade .nav-collapse .dropdown-menu a:hover {
    background-color: #222222 !important;
    color: #FFFFFF !important;
}

.acessibilidade .navbar .select{
    background: #FFFF00 !important;
}

.acessibilidade .navbar .nav{
    background: #222222 !important;
    border: 1px solid #FFFF00 !important;
     
}

.acessibilidade .menu {
    background-color: #000000 !important;
}

/* CONTEUDO */

.acessibilidade .box_borda {
    background: none repeat scroll 0 0 #1c1c1c;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 0px 8px 10px 1px #3f3b3b;
    box-shadow: 0px 8px 10px 1px #3f3b3b;
    float: left;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
}
.acessibilidade .geralLogin p{
    color: #ffffff !important;
}
.acessibilidade .index h3 {
    background-color: #000000;
}
.acessibilidade h3.pontilhado {
    color: #fff;
}
.acessibilidade .fichaProfissional .dadoPessoal img{
    border: 3px solid #ffff00;
}
.acessibilidade .fichaProfissional .caixa
, .acessibilidade .fichaProfissional .branco{
    background: none;
}
.acessibilidade .fichaProfissional .caixa h6{
    color: #ffffff
}
.acessibilidade section p {
    color: #000000;
}
.acessibilidade .BoxAreaLogin_titulo {
    background: #111111;
    border-radius: 8px 8px 0 0;
    float: left;
    margin: 0;
    width: 100%;
}
.acessibilidade #BoxAreaLogin_Informacoes_Contato
, .acessibilidade .BoxAreaLogin_content{
    background: none repeat scroll 0 0 #1c1c1c;
    box-shadow: 1px 5px 10px 1px #3f3b3b;
}
.acessibilidade .logar label
, .acessibilidade #BoxAreaLogin_EsqueceuEmail a{
    color: #000000;
}
.acessibilidade #BoxAreaLogin_Informacoes_Contato h3
, .acessibilidade #BoxAreaLogin_Informacoes_Contato h4{
    color: #ffffff !important;
}
.acessibilidade .buttonAzul {
    background: linear-gradient(to bottom, #000000 0%, #3E3A3A 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3E3A3A');
    box-shadow: 1px 5px 10px 1px #8D8D8D;
    color: #ffff00;
}
.acessibilidade .buttonAzul:hover {
    background: linear-gradient(to bottom, #3E3A3A 0%, #000000 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E3A3A', endColorstr='#000000');
    color: #ffff00;
}
.acessibilidade .box strong.title {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}
.acessibilidade a{
    color: #ffffff !important;
}
.acessibilidade .nav-tabs>.active>a
, .acessibilidade .nav-tabs>.active>a:hover
, .acessibilidade .nav>li>a:hover{
    background: none;
    color: #FFFFFF !important;
}
.acessibilidade table .paginacao a{
    color: #000000 !important;
}
.acessibilidade .filder {
    border: 1px solid #ffff00 !important;
}
.acessibilidade .filder h3{
    color: #ffff00 !important;
}
.acessibilidade .filder h5{
    color: #ffff00 !important;
   position: absolute;
}
.acessibilidade h5{
    display: block;
    color: #FFFFFF;
    font-size: 1.4em;
    margin-bottom: 10px;
    clear: both;
    top: -10px;
    background-color: #222222;
    padding: 0 5px;
}
.acessibilidade .box h4{
    color: #000000;
}
.acessibilidade .box .tab-content strong{
    color: #ffff00 !important;
}
.acessibilidade .sf-menu a {
    border-left: 0 solid #333333;
    border-right: 0 solid #255C92;
}
.acessibilidade .sf-menu li:hover
, .acessibilidade .sf-menu li.sfHover
, .acessibilidade .sf-menu a:focus
, .acessibilidade .sf-menu a:hover
, .acessibilidade .sf-menu a:active {
    background-color: #333333;
}
.acessibilidade .sf-menu li li{
    background: none repeat scroll 0 0 #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
}

.acessibilidade .acordeon a.abrir {
    border: 1px solid #FFFF00;
}
.acessibilidade #comunicadosLogin{
    border-radius: 15px 15px 15px 15px;
    color: #000000;
    float: left;
    margin: 15px 0px 25px 0;
    padding: 15px;
    background: none;
}
.acessibilidade .textoAcordeon{
    border: 1px solid #FFFF00;
    border-top: none;
    border-radius: 0 0 15px 15px;
}
.acessibilidade .acordeon a.abrir:hover
, .acessibilidade .acordeon a.abrir.ativo {
    background: none;
    color: #FFFF00 !important;
}
.acessibilidade form .dadosRemanejado span {
    color: #ffffff;
    font-size: 1.2em;
}

/* FOOTER */

.acessibilidade #BoxRodapePrincipal {
    background: #000000;
    border-top: 1px solid #ffff00;
}